In [902]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [903]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

        imdb_id     budget    revenue  ... release_date vote_average release_year
1298  tt1532958   20000000   16549477  ...    9/21/2013          5.9         2013
1726  tt0427327   50000000   90450008  ...    7/13/2007          6.4         2007
621   tt0448157  150000000  624029371  ...     7/1/2008          6.0         2008
487   tt1226273   80000000   74901339  ...    1/29/2010          6.0         2010
437   tt1226229   40000000   90029656  ...     6/4/2010          5.9         2010

[5 rows x 14 columns]

In [904]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [905]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [906]:
data.columns

Index(['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year'],
      dtype='object')

# Предобработка

In [907]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])
# add a column profit
data['profit'] = data.revenue-data.budget

In [908]:
data.sample(5)

        imdb_id     budget    revenue  ... vote_average release_year     profit
832   tt1204342   45000000  165184237  ...          6.4         2011  120184237
449   tt1126591   55000000   89519773  ...          6.8         2010   34519773
1624  tt0358135   50000000  170128460  ...          5.8         2004  120128460
1221  tt1817273   15000000   35485608  ...          6.7         2013   20485608
1336  tt0360717  207000000  550000000  ...          6.4         2005  343000000

[5 rows x 15 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [909]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [910]:
# тут пишем ваш код для решения данного вопроса:
data.groupby(['original_title'])['budget'].max().sort_values(ascending=False).index[0]

'Pirates of the Caribbean: On Stranger Tides'

In [911]:
data[data.original_title=='Pirates of the Caribbean: On Stranger Tides'].imdb_id

723    tt1298650
Name: imdb_id, dtype: object

In [912]:
data[data.original_title=='Pirates of the Caribbean: On Stranger Tides']

       imdb_id     budget     revenue  ... vote_average release_year     profit
723  tt1298650  380000000  1021683000  ...          6.3         2011  641683000

[1 rows x 15 columns]

In [913]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [914]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [915]:
data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False).index[0]

'Gods and Generals'

In [916]:
data[data.original_title=='Gods and Generals'].imdb_id

1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [917]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [918]:
data.groupby(['original_title'])['runtime'].min().sort_values(ascending=True).index[0]

'Winnie the Pooh'

In [919]:
data[data.original_title=='Winnie the Pooh'].imdb_id

768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [920]:
answers['4'] = '4. 110' # +

In [921]:
int(round(data.runtime.mean(),0))

110

# 5. Каково медианное значение длительности фильмов?

In [922]:
answers['5'] = '5. 107' # +

In [923]:
int(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [925]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [924]:
answers['6'] = '6. Avatar (tt0499549)' # +

ВАРИАНТ 1

In [926]:
data.groupby(['original_title']).profit.max().sort_values(ascending=False).index[0]

'Avatar'

ВАРИАНТ 2

In [927]:
data[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [928]:
data[data.original_title=='Avatar'].imdb_id

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [929]:
answers['7'] = '7. The Lone Ranger (tt1210819)' # +

ВАРИАНТ 1

In [930]:
data.groupby(['original_title']).profit.min().sort_values(ascending=False).index[-1]

'The Lone Ranger'

ВАРИАНТ 2

In [931]:
data.groupby(['original_title']).profit.max().sort_values(ascending=True).index[0]

'The Lone Ranger'

ВАРИАНТ 3

In [932]:
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [933]:
data[data.original_title=='The Lone Ranger'].imdb_id

1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [934]:
answers['8'] = '8. 1478' # +

In [935]:
len(data[data.revenue>data.budget].value_counts())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [936]:
answers['9'] = '9. The Dark Knight (tt0468569)' # +

ВАРИАНТ 1

In [937]:
data[data.release_year==2008].groupby(['original_title'])['revenue'].max().sort_values(ascending=False).index[0]

'The Dark Knight'

ВАРИАНТ 2

In [938]:
data[data.release_year==2008].groupby(['original_title'])['revenue'].max().idxmax()

'The Dark Knight'

In [939]:
data[data.original_title=='The Dark Knight'].imdb_id

599    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [940]:
answers['10'] = '10. The Lone Ranger (tt1210819)' # +

ВАРИАНТ 1

In [941]:
data[(data.release_year>=2012) & (data.release_year<=2014)].groupby(['original_title'])['profit'].min().sort_values(ascending=False).index[-1]

'The Lone Ranger'

ВАРИАНТ 2

In [942]:
data[(data.release_year>=2012) & (data.release_year<=2014)].groupby(['original_title'])['profit'].min().idxmin()

'The Lone Ranger'

In [943]:
data[data.original_title=='The Lone Ranger'].imdb_id

1245    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?

In [944]:
answers['11'] = '11. Drama' # +

In [945]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().idxmax()

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [946]:
answers['12'] = '12. Drama' # +

In [947]:
pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().idxmax()

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [948]:
answers['13'] = '13. Peter Jackson' # +

In [949]:
data.groupby(['director'])['revenue'].sum().idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [950]:
answers['14'] = '14. Robert Rodriguez' # +

In [951]:
action_data = data[data['genres'].str.contains('Action', regex=False) == True]  
Counter(action_data.director.str.cat(sep='|').split('|')).most_common

<bound method Counter.most_common of Counter({'Robert Rodriguez': 9, 'Michael Bay': 7, 'Paul W.S. Anderson': 7, 'Antoine Fuqua': 6, 'Ridley Scott': 6, 'Brett Ratner': 5, 'Quentin Tarantino': 5, 'Zack Snyder': 5, 'Roland Emmerich': 5, 'Andrzej Bartkowiak': 5, 'Louis Leterrier': 5, 'Tony Scott': 5, 'Paul Greengrass': 5, 'Peter Jackson': 5, 'Lee Tamahori': 5, 'Gore Verbinski': 5, 'Rob Cohen': 5, 'Peter Berg': 5, 'J.J. Abrams': 4, 'Lana Wachowski': 4, 'Lilly Wachowski': 4, 'Olivier Megaton': 4, 'Guy Ritchie': 4, 'Bryan Singer': 4, 'Tim Story': 4, 'Renny Harlin': 4, 'Mark Neveldine': 4, 'Brian Taylor': 4, 'Dominic Sena': 4, 'Justin Lin': 4, 'Christopher Nolan': 4, 'Simon West': 4, 'John Moore': 4, 'Steven Spielberg': 4, 'Martin Campbell': 4, 'John Singleton': 4, 'Len Wiseman': 4, 'Brad Bird': 3, 'Matthew Vaughn': 3, 'Neill Blomkamp': 3, 'Jaume Collet-Serra': 3, 'Breck Eisner': 3, 'Pierre Morel': 3, 'David Ayer': 3, 'Doug Liman': 3, 'Clint Eastwood': 3, 'Phil Lord': 3, 'Christopher Miller': 3, 'McG': 3, 'Stephen Sommers': 3, 'Shawn Levy': 3, 'Jonathan Mostow': 3, 'Jon Favreau': 3, 'Jon Turteltaub': 3, 'Joe Carnahan': 3, 'M. Night Shyamalan': 3, 'Harald Zwart': 3, 'Marc Forster': 3, 'D.J. Caruso': 3, 'Edward Zwick': 3, 'Sam Raimi': 3, 'Barry Sonnenfeld': 3, 'Guillermo del Toro': 3, 'John Woo': 3, 'Uwe Boll': 3, 'David Twohy': 3, 'James Wan': 2, 'Alan Taylor': 2, 'Sam Mendes': 2, 'Joss Whedon': 2, 'Peyton Reed': 2, 'Brad Peyton': 2, 'Wes Ball': 2, 'Michael Mann': 2, 'Paul Feig': 2, 'Ron Howard': 2, 'Camille Delamarre': 2, 'Luc Besson': 2, 'Jonathan Liebesman': 2, 'Matt Reeves': 2, 'Marc Webb': 2, 'Evan Goldberg': 2, 'Seth Rogen': 2, 'Roger Donaldson': 2, 'J.C. Chandor': 2, 'Kenneth Branagh': 2, 'Scott Waugh': 2, 'Alex Proyas': 2, 'James McTeigue': 2, 'NimrÃ³d Antal': 2, 'Gavin Hood': 2, 'Sylvester Stallone': 2, 'Joseph Kosinski': 2, 'Edgar Wright': 2, 'Robert Schwentke': 2, 'James Mangold': 2, 'Neil Marshall': 2, 'Kevin Munroe': 2, 'Peter Howitt': 2, 'Frank Oz': 2, 'Joe Johnston': 2, 'Peter Hyams': 2, 'Timur Bekmambetov': 2, 'David Gordon Green': 2, 'Pete Travis': 2, 'Frank Miller': 2, 'Jason Friedberg': 2, 'Aaron Seltzer': 2, 'Rob Marshall': 2, 'Andrew Niccol': 2, 'Marcus Nispel': 2, 'Ruben Fleischer': 2, 'George Lucas': 2, 'Andrew Davis': 2, 'Walter Hill': 2, 'Rob Bowman': 2, 'Ang Lee': 2, 'Baltasar KormÃ¡kur': 2, 'Mark Steven Johnson': 2, 'F. Gary Gray': 2, 'David Dobkin': 2, 'Clark Johnson': 2, 'Richard Donner': 2, 'William Friedkin': 2, 'Francis Lawrence': 2, 'Courtney Solomon': 2, 'David R. Ellis': 2, 'David S. Goyer': 2, 'Colin Trevorrow': 1, 'George Miller': 1, 'Chris Columbus': 1, 'Christopher McQuarrie': 1, 'Ilya Naishuller': 1, 'Ericson Core': 1, 'Denis Villeneuve': 1, 'Josh Trank': 1, 'Aleksander Bach': 1, 'Andy Fickman': 1, 'John Erick Dowdle': 1, 'Anne Fletcher': 1, 'James Gunn': 1, 'Joe Russo': 1, 'Anthony Russo': 1, 'Chad Stahelski': 1, 'David Leitch': 1, 'Don Hall': 1, 'Chris Williams': 1, 'Neil Burger': 1, 'Gareth Edwards': 1, 'Robert Stromberg': 1, 'Dean DeBlois': 1, 'Patrick Hughes': 1, 'Gary Shore': 1, 'Noam Murro': 1, 'Vic Armstrong': 1, 'JosÃ© Padilha': 1, 'George Clooney': 1, 'Brian A Miller': 1, 'Steven Quale': 1, 'Adam Wingard': 1, 'James Cameron': 1, 'Patrick Tatopoulos': 1, 'Shane Acker': 1, 'Steve Carr': 1, 'Christian Alvart': 1, 'Hoyt Yeatman': 1, 'Kevin Macdonald': 1, 'Michael Spierig': 1, 'Peter Spierig': 1, 'Paul McGuigan': 1, 'Troy Duffy': 1, 'Paul Weitz': 1, 'David Bowers': 1, 'Daniel Barber': 1, 'Michael J. Bassett': 1, 'Pierre Coffin': 1, 'Chris Renaud': 1, 'Phillip Noyce': 1, 'Florian Henckel von Donnersmarck': 1, 'Mike Newell': 1, 'Ethan Maniquis': 1, 'Albert Hughes': 1, 'Allen Hughes': 1, 'Tom McGrath': 1, 'Adam McKay': 1, 'Miguel Sapochnik': 1, 'Andy Tennant': 1, 'Jonathan Lynn': 1, 'Jimmy Hayward': 1, 'Robert Luketic': 1, 'John Luessenhop': 1, 'Kevin Smith': 1, 'Jorma Taccone': 1, 'Brian Levant': 1, 'Stuart Beattie': 1, 'Tim Burton': 1, 'Brian Helgeland': 1, 'John A. Davis': 1, 'Chris Nahon': 1, 'Hironobu Sakaguchi': 1, 'Motonori Sakakibara': 1, 'Rod Lurie': 1, 'John Herzfeld': 1, 'Ivan Reitman': 1, 'Demian Lichtenstein': 1, 'John Carpenter': 1, 'Bobby Farrelly': 1, 'Peter Farrelly': 1, 'Barry Levinson': 1, 'Luke Greenfield': 1, 'Les Mayfield': 1, 'Henry Selick': 1, 'Rob Pritts': 1, 'Ernest R. Dickerson': 1, 'DJ Pooh': 1, 'Eric Brevig': 1, 'Ben Stiller': 1, 'Jeff Wadlow': 1, 'Lexi Alexander': 1, 'Peter Segal': 1, 'Mathieu Kassovitz': 1, 'Rob Minkoff': 1, 'Jon Avnet': 1, 'Dennis Dugan': 1, 'Howard McCain': 1, 'Oxide Pang Chun': 1, 'Danny Pang': 1, 'Craig Mazin': 1, 'Simon Hunter': 1, 'Nicolas Winding Refn': 1, 'Rupert Wyatt': 1, 'Patrick Lussier': 1, 'Gary McKendry': 1, 'Scott Stewart': 1, 'Tarsem Singh': 1, 'Chris Gorak': 1, 'Chris Miller': 1, 'Michel Gondry': 1, 'Oliver Parker': 1, 'Joe Cornish': 1, 'Joe Wright': 1, 'John Michael McDonagh': 1, 'Alister Grierson': 1, 'Sean McNamara': 1, 'John Whitesell': 1, 'Benny Chan': 1, 'Corey Yuen Kwai': 1, 'Stuart Baird': 1, 'Kurt Wimmer': 1, 'Jay Roach': 1, 'Jim Gillespie': 1, 'Chuck Russell': 1, 'Betty Thomas': 1, 'Randall Wallace': 1, 'Ron Shelton': 1, 'Simon Wells': 1, 'Roger Michell': 1, 'Michael Apted': 1, 'Tom Dey': 1, 'Joel Schumacher': 1, 'Luis Mandoki': 1, 'Tamra Davis': 1, 'Ron Underwood': 1, 'Kevin Bray': 1, 'Malcolm D. Lee': 1, 'MÃ¥ns MÃ¥rlind': 1, 'BjÃ¶rn Stein': 1, 'Tony Gilroy': 1, 'Mark Andrews': 1, 'Steve Purcell': 1, 'Brenda Chapman': 1, 'Boaz Yakin': 1, 'Andrew Stanton': 1, 'Rian Johnson': 1, 'Mike McCoy': 1, 'Stephen St. Leger': 1, 'James Mather': 1, 'Daniel Espinosa': 1, 'Asger Leth': 1, 'Mabrouk El Mechri': 1, 'Dan Bradley': 1, 'Julie Anne Robinson': 1, 'Anthony Hemingway': 1, 'David Koepp': 1, 'David Barrett': 1, 'Stephen Norrington': 1, 'Jan de Bont': 1, 'Jon Amiel': 1, 'John McTiernan': 1, 'Shane Black': 1, 'Tommy Wirkola': 1, 'Carl Rinsch': 1, 'Gary Fleder': 1, 'Mikael HÃ¥fstrÃ¶m': 1, 'Taylor Hackford': 1, 'Steven Knight': 1, 'Spike Lee': 1, 'Dito Montiel': 1, 'Keanu Reeves': 1, 'Fyodor Bondarchuk': 1, 'Karyn Kusama': 1, 'Adam Shankman': 1, 'John Stockwell': 1, 'Sydney Pollack': 1, 'Terry Gilliam': 1, 'Jay Chandrasekhar': 1, 'Richard Shepard': 1, 'John Dahl': 1, 'Bruce Hunt': 1, 'Alfonso CuarÃ³n': 1, 'Stefen Fangmeier': 1, 'Mel Gibson': 1, 'Bruce Beresford': 1, 'Wolfgang Petersen': 1, 'Jeff Tremaine': 1, 'John Bonito': 1, 'Geoffrey Sax': 1, 'Tony Bill': 1, 'Wayne Kramer': 1, 'Sanjay Gadhvi': 1, 'Phil Joanou': 1, 'Alexander Witt': 1, 'Bibo Bergeron': 1, 'Vicky Jenson': 1, 'Rob Letterman': 1, 'Kerry Conran': 1, 'Oliver Stone': 1, 'Jonathan Hensleigh': 1, 'Pitof': 1, 'Philip Kaufman': 1, 'Trey Parker': 1, 'Steven Brill': 1, 'Frank Coraci': 1, 'Paul Abascal': 1, 'Joseph Kahn': 1, 'David Mamet': 1, 'Jay Russell': 1, 'Robert Redford': 1, 'Philip G. Atwell': 1, 'Michael Davis': 1, 'Xavier Gens': 1, 'Eli Roth': 1, 'Rob Zombie': 1, 'Jason Eisener': 1, 'Dave Meyers': 1, 'Russell Mulcahy': 1, 'Andrew Dominik': 1, 'Doug Lefler': 1, 'David Leland': 1, 'Feng Xiaogang': 1, 'Ben Garant': 1, 'Joel Coen': 1, 'Donald Petrie': 1, 'Paul Verhoeven': 1, 'Roger Spottiswoode': 1, 'Antony Hoffman': 1, 'Stephen T. Kay': 1, 'Don Bluth': 1, 'Gary Goldman': 1, 'Christian Duguay': 1, 'Douglas Aarniokoski': 1, 'Gina Prince-Bythewood': 1, 'Brian Robbins': 1, 'Des McAnuff': 1})>

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [952]:
answers['15'] = '15. Chris Hemsworth' # +

In [953]:
data2 = data[data['release_year'] == 2012].copy()
data2['actors'] = data2.cast.str.split('|')
data3=data2.explode('actors')
data3.groupby(['actors'])['revenue'].max().sort_values(ascending=False).head(10)

actors
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Judi Dench            1108561013
Ralph Fiennes         1108561013
Naomie Harris         1108561013
Daniel Craig          1108561013
Javier Bardem         1108561013
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [954]:
answers['16'] = '16. Matt Damon' # +

In [955]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [956]:
answers['17'] = '17. Action' # +

In [957]:
# contains позволяет проверить наличие подстроки в строке
nc_data = data[data['cast'].str.contains('Nicolas Cage')]
df_nc = nc_data[['genres']]
pd.Series(df_nc.genres.str.split('|').sum()).value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [958]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)' # +

In [959]:
pp_data = data[data['production_companies'].str.contains('Paramount Pictures', regex=False) == True]
pp_data.groupby(['original_title']).profit.min().idxmin()

'K-19: The Widowmaker'

In [960]:
pp_data[pp_data.original_title=='K-19: The Widowmaker'].imdb_id

925    tt0267626
Name: imdb_id, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [961]:
answers['19'] = '19. 2005' # +

In [962]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [963]:
answers['20'] = '20. 2014' # +

In [964]:
wb_data = data[data.production_companies.str.contains('Warner Bros', na=False)]
wb_data.groupby(['release_year']).profit.sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [965]:
answers['21'] = '21. Сентябрь' # +

In [966]:
data['month'] = data.release_date.apply(lambda date: date.month)
data['month'].value_counts().idxmax()

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [967]:
answers['22'] = '22. 450' # +

In [968]:
june = data[data.release_date.dt.month==6].value_counts()
july = data[data.release_date.dt.month==7].value_counts()
august = data[data.release_date.dt.month==8].value_counts()
len(june)+len(july)+len(august)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [969]:
answers['23'] = '23. Peter Jackson' # +

In [970]:
pd.Series(data[data.release_date.dt.month==12].director.str.split('|')).value_counts().idxmax()

['Peter Jackson']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [971]:
answers['24'] = '24. Four By Two Productions' # +

In [972]:
data['original_title_len'] = data.original_title.apply(lambda x: len(x))
pd.Series(data[data.original_title_len==data.original_title_len.max()].production_companies.str.cat(sep='|').split('|')).value_counts().index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [973]:
answers['25'] = '25. ... '

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [974]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave' # +

In [975]:
data.groupby(['vote_average'])['original_title'].max()

vote_average
3.3                               FearDotCom
3.4                        House of the Dead
3.5                     From Justin to Kelly
3.8                              Left Behind
3.9                       Dungeons & Dragons
4.0     The Adventures of Rocky & Bullwinkle
4.1    Street Fighter: The Legend of Chun-Li
4.2                                  The Fog
4.3                            Vampires Suck
4.4                   The Legend of Hercules
4.5                                 Year One
4.6                               The Spirit
4.7                              The Pyramid
4.8                  xXx: State of the Union
4.9                      Unfinished Business
5.0                        Whatever It Takes
5.1                                     Zoom
5.2                              Young Adult
5.3                                Ã†on Flux
5.4                                Zookeeper
5.5                     Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´
5.6            You Don't Mess With the Zohan
5.7                                      xXx
5.8                    What Happens in Vegas
5.9                               Young Adam
6.0               Zack and Miri Make a Porno
6.1                                Zoolander
6.2                    X-Men: The Last Stand
6.3                                  Yes Man
6.4                          Xin shao lin si
6.5                         Zero Dark Thirty
6.6                                    X-Men
6.7                                       X2
6.8                          Winnie the Pooh
6.9                                War Horse
7.0                       X-Men: First Class
7.1                               Zombieland
7.2                                 Unbroken
7.3                            Woman in Gold
7.4                        The King's Speech
7.5                              Toy Story 3
7.6               X-Men: Days of Future Past
7.7                             The Departed
7.8                      There Will Be Blood
7.9                  The Wolf of Wall Street
8.0                       The Imitation Game
8.1                          The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [976]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint' # +

ВАРИАНТ 2

# Submission

In [977]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2005',
 '2': '2. Gods and Generals (tt0279111)',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. ... ',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)'}

In [978]:
# и убедиться что ни чего не пропустил)
len(answers)

27